{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} New Tutorial
{% endblock %}

{% block body %}
    <div class="col">
        <div class="card">
            <div class="card-header bg-dark text-white text-center p-4">
                <div class="float-left">
                    <a class="btn btn-dark" href="{{ path('tutorial_index') }}"><i class="fa fa-arrow-left"></i> Retour</a>
                </div>
                <h3>Publier un nouveau tutoriel</h3>
            </div>
            <div class="card-body">
                {{ include('tutorial/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
